.list-group {
    padding: 10px;
    margin-bottom: 30px;
    font-size: small;
    line-height: 1.5;
    text-align: left;
}
.titre-menu {
    font-weight: bold;
    margin-left: 5px;

}


@media screen and (max-width: 500px) {
    .list-group{
        text-align: center;
    }
}

.row.header {
    font-weight: 900;
    color: #ffffff;
    background: #ea6153;
  }
  .row.green {
    background: #27ae60;
  }
  .row.blue {
    background: #2980b9;
  }

  .bg-list{
      background: rgb(141, 140, 140) !important;
      color: white;
      font-family: 'Permanent Marker', cursive;
      text-align: center;
  }