.container {
    position: relative;
    width: 100%;
  
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
   
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
     overflow: hidden;
    width: 100%;
    height:0;
    transition: .2s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%; 
    
  }
  .calque {
    padding: 0 0px 0px;
    background: rgba(78, 78, 78, 0.548);
   
  
  }
  .titlecalque {
    color: white;
    font-size: 1em;
   line-height: 1.5em;
  text-align: center;
  font-weight: bold;
   position: absolute;
   top: 10%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   z-index:1;
  }
  .textcalque {
    text-align: justify;
    white-space: wrap; 
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    padding: 10px 10px 10px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index:2;
    height: 10%;
  
    
  }
  