
.fond{
  border-top: 5px solid #810047;
   
    background-color: rgba(65, 3, 51, 0.973)!important;
}

.liennav {
   
   
    color: white;
    font-size: 1.0em;
   
}

.liennav:hover, .liennav:focus, .liennav:active {
    text-decoration: none;
    font-size: 1.5em;
    color: #af5a0b;
    background: #2c0229;
  }

.modal-navbar{
    background-color: rgb(110, 30, 86);
    color: white;
    padding: 0px 1em 0 1em;
}

.margin-button{

  padding-left: 1.5em;
}


