.App {
 
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color : black;

    padding-right: 15px;
    padding-left: 15px;


}



.App-link {
  color: hsl(192, 21%, 91%);
}
