
    .corps{

      width: 100%;
      font-family: 'Permanent Marker', cursive;
      padding: 1em;

    }
       
      
    
    .tab-title{
      color: rgb(255, 255, 255);
      text-align: center;
          font-size: 2em;
      background: rgb(231, 178, 4);
      font-weight: bold;
      line-height: 60px;
    }
    .tab-sous-title{
      color: rgb(0, 0, 0);
      text-align: center;
      font-size: 1.2em;
      background: hsl(0, 0%, 66%);
      line-height: 50px;
  
    }
    .tab-donnee{
      color: rgb(0, 0, 0);
      text-align: center;
      font-size: 1.2em;
      background: rgb(255, 255, 255);
      line-height: 30px;
  
    }
 
